.blog-wrapper {
    width: 100%;
}

.write-blog-wrapper {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    color: rgb(124, 124, 124);
}

.blog-para,
.blog-title {
    outline: none;
}

.blog-para{ 
    margin-top: 10px;
}